.filter-button {
    background-color: #68b1ff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px;
}

.filter-button:hover {
    background-color: #b9dbff;
    transform: scale(1.05);
}

.filter-button:active {
    transform: scale(0.95);
}