.card {
    width: auto;
    /* Задайте фиксированную ширину */
    height: auto;
    /* Задайте фиксированную высоту */
    margin: 10px 0;
    /* Отступы между карточками */
    border: 1px solid #ccc;
    /* Граница вокруг карточки */
    border-radius: 8px;
    /* Закругление углов */

    display: flex;
    flex-direction: column;
    /* Вертикальное расположение содержимого */
    justify-content: center;
    /* Центрирование содержимого по вертикали */
    align-items: center;
    /* Центрирование содержимого по горизонтали */
}

.card img {
    width: 300px;
    /* Изображение занимает всю ширину карточки */
    height: auto;
    /* Высота автоматически подстраивается */
}